{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Estilo water.css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- JS de Alpine.js -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<!-- icono de sitio -->
	<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.webp' %}">
	<title>/{{ simb }}/ - Vomiting Things!</title>
</head>
<body>
	<header>
		<div>
			{% include "core/header_links.html" %}
		</div>
	</header>
	<hr>

	<br>
	
	<a href="{% url 'tablon_vista' simbolo=simb %}">[Volver]</a>

	<!-- ESTE FORMULARIO POR EL MOMENTO NO SE EMPLEA NI SE TIENE EN CUENTA -->
	<div class="alinear-contenedor">
		<div x-data="{ p_activo: false }">
			<div class="alinear-contenedor">
				<button x-show="!p_activo" x-on:click="p_activo = !p_activo">Responder al post</button>
			</div>
			<!-- Formulario para postear -->
			<div x-show="p_activo">
				<div class="contorno-formulario">
					{% include "posts/response_post_form.html" with id=post.id simbolo_data=simb %}
				</div>
				<!-- <button x-on:click="p_activo = !p_activo">Ocultar</button> -->
			</div>
			{% if errores_form %}
			<div>
				{% for error in errores_form %}
				<p>{{ error }}</p>
				{% endfor %}
			</div>
			{% endif %}
		</div>		
	</div>
	<hr>

	<br>

	<h1 class="fuente-alph tam-fuente-titulo-post">{{ post.titulo }}</h1>
	<p class="tam-fuente">[Id post: {{ post.id }} - OP: {{ post.op_aka }} - Fecha: {{ post.fecha_publicacion }} - Hora: {{ post.hora_publicacion }}]</p>
	
	<!-- La imagen se redimensiona al clickearla -->
	{% if post.archivo_img %}
	<div class="tam-fuente-alinear-n-arch">
		<p>Archivo: </p><p class="estilo-fuente-n-arch"><a href="{{ post.archivo_img.url }}" target="_blank">{{ nombre_archivo }}</a></p>
	</div>
	<div x-data="{ p_activo: false }">
	    <img 
	        src="{{ post.archivo_img.url }}" 
	        :width="p_activo ? '' : '300'" 
	        @click="p_activo = !p_activo" 
	        loading="lazy"
	        style="cursor: pointer; transition: width 0.3s ease;"
	    >
	</div>
	{% endif %}

	<p>{{ post.contenido|linebreaks }}</p>

	<!-- Si por lo menos hay un link, se crea todo el segmento de links en el post -->
	{% if post.enlace_a %}
	<h4>Enlaces:</h4>
	<ul>
		<li><a href="{{ post.enlace_a }}">{{ post.enlace_a }}</a></li>
		{% if post.enlace_b %}
		<li><a href="{{ post.enlace_b }}">{{ post.enlace_b }}</a></li>
		{% endif %}
		{% if post.enlace_c %}
		<li><a href="{{ post.enlace_b }}">{{ post.enlace_c }}</a></li>
		{% endif %}
	</ul>
	{% endif %}

	<hr>

	<br>
	
	<!-- Respuestas/comentarios del post principal -->
	{% include "posts/response_list.html" with comens=comens%}

	<!-- Footer -->
	{% include 'core/footer.html' %}
</body>
</html>