{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- icono de sitio -->
	<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.webp' %}">
	<title>[VT!]</title>
</head>
<body>
	<div class="alinear-contenedor-titulo">
		<div>
			<h1 class="fuente-titulo">[Vomiting-Things!]</h1>
		</div>
	</div>
	<div class="alinear-contenedor">
		<div class="tam-maximo">
			<p>
				Bienvenid@ a [Vomiting-Things!] (también abreviado [VT!]), un tablón de imagenes para vomitar tu pensamientos... (Aprende más sobre los tablones de imágenes <a href="https://es.wikipedia.org/wiki/Tabl%C3%B3n_de_im%C3%A1genes">acá</a>) <br>

				Procura respetar los <a href="">lineamientos y reglas</a> del sitio, de lo contrario serás banneado de por vida :( <br><br>

				Los avisos y nuevas novedades sobre el sitio se encuentran en <a href="">/noticias/</a>
			</p>		
		</div>
	</div>

	<br>

	<!-- A este div hay que centrarlo xd -->
	<div>
		<h3 class="fuente-alph">- Tablones -</h3>
		<ul>
			<li><a href="{% url 'tablon_vista' 'v' %}">Videojuegos /v/</a></li>
			<li><a href="{% url 'tablon_vista' 'i' %}">Internet /i/</a></li>
			<li><a href="{% url 'tablon_vista' 'a' %}">Animé /a/</a></li>
			<li><a href="{% url 'tablon_vista' 'tp' %}">Tecnología y Programación /tp/</a></li>
			<li><a href="{% url 'tablon_vista' 'b' %}">Random /b/</a></li>
		</ul>
	</div>

	{% include 'core/footer.html' %}
</body>
</html>