/*TODO EL ESTILO DEL SITIO PARTE DE ACÁ*/


/*WOW! Se puede importar una hoja de estilo a otra, genial!!!*/
/*WATER.CSS*/
@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css");
:root {
}

/*Estilización personal*/
.alinear-todo {
    padding: 3rem;
            
    /* Flexbox para alinear todo lo que esté dentro */
    display: flex;
    flex-direction: column;
            
    align-items: center; /* Centra horizontalmente los elementos hijos */
    text-align: center;  /* Centra también el texto */
}

.alinear-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Solo para alinear el input del titulo y el boton para postear*/
.alinear {
    display: flex;
    gap: 10px; /* Espacio automático entre los elementos */
}

.contorno-banner {
    border : 2px solid #ccc; 
}

.contorno-formulario {
    border: 2px solid #ccc; /* Contorno para todo el contenedor */
    border-radius: 12px;
    padding: 10px;
    max-width: 500px;
    /*background-color: #fafafa;*/
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio automático entre los bloques internos */
}

/*Tamaño fuente de letra*/
.tam-fuente {
    font-size: 10px;
}

.contorno-respuesta-post {
    border: 2px solid;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
}

.solo-padding {
    padding: 10px;
}