/*TODO EL ESTILO DEL SITIO PARTE DE ACÁ*/


/*WOW! Se puede importar una hoja de estilo a otra, genial!!!*/
/*WATER.CSS*/
@import url("https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css");
:root {
}

@font-face {
    font-family: "alph-beta-fuente";
    /*src: url("../tipograf-text/alphbeta.ttf") format("truetype");*/
    src: url("../tipograf-text/alphbeta.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/*@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');*/

/*Estilización personal*/
.alinear-contenedor-titulo {
    padding: 2rem;
            
    /* Flexbox para alinear todo lo que esté dentro */
    display: flex;
    flex-direction: column;
            
    align-items: center; /* Centra horizontalmente los elementos hijos */
}

.alinear-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Solo para alinear el input del titulo y el boton para postear*/
.alinear {
    display: flex;
    gap: 10px; /* Espacio automático entre los elementos */
}

.contorno-banner {
    border : 3px solid #ccc;
}

.contorno-formulario {
    border: 4px dotted #ccc; /* Contorno para todo el contenedor */
    border-radius: 12px;
    padding: 10px;
    max-width: 400px;
    /*max-height: 10px;*/
    /*background-color: #fafafa;*/
    display: flex;
    /*flex-direction: column;*/
    gap: 15px; /* Espacio automático entre los bloques internos */
}

.tam-maximo-lista {
    width: 300px;
}

.tam-maximo {
    /*border: 4px solid;*/
    max-width: 600px;
}

/*Tamaño fuente de letra*/
.tam-fuente {
    font-size: 10px;
}

.tam-fuente-titulo-post {
    font-size: 30px;
}

.contorno-respuesta-post {
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 12px;
    display: inline-block;
}

.solo-padding {
    padding: 10px;
}

.fuente-titulo {
    font-family: "alph-beta-fuente", sans-serif;
    font-size: 40px;
}

.fuente-alph {
    font-family: "alph-beta-fuente", sans-serif;
}

/*Solo para testear el ajuste de los divs y contenedores*/
.contorno-testing-divs {
    border : 3px solid #ccc; 
}

/*.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}*/
