{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Estilo water.css -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- JS de Alpine.js -->
	<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<!-- icono de sitio -->
	<link rel="icon" type="image/x-icon" href="{% static 'favicon/favicon.webp' %}">
	<title>/{{ simb }}/ {{ nombre_tablon }} - [VT!]</title>
</head>
<body>
	<header>
		<div>
			{% include "core/header_links.html" %}
		</div>
	</header>
	<hr>
	
	<br>
	
	<div class="alinear-contenedor">
		<div>
			<!-- Seccion para los banneres aleatorios -->
			<img src="{{ banner }}" alt="Banner no encontrado :(" height="120" width="220" loading="lazy" class="contorno-banner">
		</div>
		<br>
		<div>	
			<h1 class="fuente-alph">[/{{ simb }}/ {{ nombre_tablon }}]</h1>
		</div>
	</div>

	<br>

	<div class="alinear-contenedor">
		<div x-data="{ p_activo: false }">
			<div class="alinear-contenedor">
				<button x-show="!p_activo" x-on:click="p_activo = !p_activo">Iniciar un post</button>
			</div>
		<!-- Formulario para postear -->
			<div x-show="p_activo">
				<div class="contorno-formulario">
					{% include "posts/posting_form.html" with simbolo_data=simb %}
				</div>
				<!-- <button x-on:click="p_activo = !p_activo">Ocultar</button> -->
			</div>
			{% if errores_form %}
			<div>
				{% for error in errores_form %}
				<p>{{ error }}</p>
				{% endfor %}
			</div>
			{% endif %}
		</div>		
	</div>
	<hr>

	<br>

	<!-- Lista de posteos -->
	{% include "posts/post_list.html" with post_list=post_data simbolo_data=simb %}
	
	{% include 'core/footer.html' %}
</body>
</html>